body
{
	background-image: : url("../images/pic4.jpg");
	background-size: cover;
	font-family: arial;
	color: white4
}
ul
{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
ul li
{
	float: left;
	width: 200px;
	height: 40px;
	background-color: black;
	opacity: 0.8;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	margin-right: 2px;
	border-radius: 15px;
}
ul li a
{
	text-decoration: none;
	display: block;
	color: white;
}
ul li a:hover
{
	background-color: green;
	color: cyan;
}
ul li ul li
{
	display: none;
}
ul li:hover ul li
{
	display: block;
}
.logo img
{
	float: left;
	width: 200px;
	height: auto;
	color:#000;
}
.main
{
	max-width: 1200px;
	margin: auto;
}
.title
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1
{
	color: black;
	font-size: 50px;
}